.SimpleSlider {
  background: green;
  height: 100vh;
  width: 100vw;
}

.imrg {
  background-color: red;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .slick-slider {
  width: 50%;
} */